#page {
    & > main {
        transition: linear all 300ms;
        &.light {
            background-color: honeydew;
        }
        &.dark {
            background-color: grey;
        }
        grid-area: main;
        margin: 16px;
        padding: 16px;
        overflow: scroll;
    }
}
