@import '../../../node_modules/normalize.css/normalize.css';

#page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template:
        [header-left] 'head head' 12vh [header-right]
        [main-left] 'nav  main' 88vh [main-right]
        / 160px 1fr;
}
