#page {
    header {
        transition: linear all 300ms;
        &.light {
            background-color: honeydew;
        }
        &.dark {
            background-color: grey;
        }
        grid-area: head;
    }
}
